
.detailCaption{
  background-color: #03a9f4;
  color:white;
  font-weight: bold;
  font-size:1.1em;
}

p.detailLabel {
  background-color: #03a9f4;
  color:white;
  font-weight: bold;
  font-size:1.1em;
}

p {
  padding: 0.3em;
  font-size: 1.0em;
}

img{
  margin: auto;
  width:100%;
}

